<!DOCTYPE html>
  <head>
    <title>M&L</title>
    <meta name="description" content="">
    <meta name="author" content="Minale & London">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    
    <div class="header">
      <div class="header__offset">
        <span class="header__menu u-text-right u-margin-Rl">
          <a href="#about" class="u-text-upper link--plain">About</a>
          <a href="#service" class="u-text-upper link--plain u-margin-Ll">Service</a>
        </span>
        <img src="img/logo.svg" class="header__logo">
        <span class="header__menu u-margin-Ll">
          <a href="#contact" class="u-text-upper link--plain u-margin-Rl">Contact</a>
          <a href="#experience" class="u-text-upper link--plain">Experience</a>
        </span>
      </div>
      
{{!--       <div class="header--mobile">
        <span class="header--mobile__icon link--plain"><img src="img/menu.svg"></span>
      </div>
    </div>

    <div class="header--mobile__menu">
      <div class="header--mobile__menu__content">
        <ul class="u-text-center">
          <li class="u-margin-Bl"><a href="#about" class="u-text-upper link--plain">About</a></li>
          <li class="u-margin-Bl"><a href="#service" class="u-text-upper link--plain">Service</a></li>
          <li class="u-margin-Bl"><a href="#contact" class="u-text-upper link--plain">Contact</a></li>
          <li><a href="#experience" class="u-text-upper link--plain">Experience</a></li>
        </ul>
      </div> --}}
    </div>
