$font-primary: 'noe-text';
$font-headline: 'noe-display';
$font-quote: 'noe-display';
$font-meta: 'range-mono';

$color-dark: #222;
$color-middle: #BAB8BA;
$color-light: #EDEDED;
$color-highlight: yellow;

$xlarge-space: 60px;
$large-space: 20px;
$medium-space: 10px;
$small-space: 5px;